.audioContainer {
  padding: 5% 50px;
  background-color: black;
}

.featureText {
  text-align: left;
  color: #9a9a9a;
  font-weight: 600;
  font-size: 15px;
  width: 5%;
}

.title {
  text-align: left;
  font-size: 5rem;
  line-height: 75px;
  font-family: "Machina", sans-serif;
  font-weight: 600;
  margin: 2% 0;
  color: white;
}

.audioDescription {
  color: white;
  text-align: left;
  font-size: 1.5rem;
  width: 80%;
  margin-bottom: 80px;
}

.audioListRow {
  margin: 5% 0;
}

.audioImage {
  width: 60%;
}

.audioListTitle {
  color: white;
  text-align: left;
}

.audioListDesc {
  text-align: left;
  color: white;
}

.audioListCount {
  border-radius: 6px;
  width: 40px;
  border-style: solid;
  border-color: #838a81;
  background-color: #838a81;
}

.audioNote {
  color: white;
  margin-top: 50%;
  font-size: 0.8rem;
  text-align: left;
}

@media only screen and (max-width: 1600px) {
  .audioImage {
    width: 90%;
  }
}

@media only screen and (max-width: 990px) {
  .featureText {
    width: 50%;
  }

  .title {
    text-align: center;
    margin-bottom: 4%;
    font-size: 2.5rem;
    line-height: 55px;
  }
  .audioDescription {
    text-align: center;
    width: 100%;
    margin-bottom: 5%;
    font-size: 1rem;
  }

  .audioImage {
    width: 60%;
  }

  #one {
    width: 70%;
  }

  #two {
    width: 70%;
    margin-left: 30%;
  }

  #two > .audioListDesc {
    text-align: right;
  }

  #two > .audioListTitle {
    text-align: right;
  }

  #two > .audioListCount {
    margin-left: 90%;
  }

  #three {
    width: 70%;
  }
  #four {
    width: 70%;
    margin-left: 30%;
  }

  #four > .audioListDesc {
    text-align: right;
  }

  #four > .audioListTitle {
    text-align: right;
  }
  #four > .audioListCount {
    margin-left: 90%;
  }
  #five {
    width: 70%;
  }
  #six {
    width: 70%;
    margin-left: 30%;
  }

  #six > .audioListDesc {
    text-align: right;
  }

  #six > .audioListTitle {
    text-align: right;
  }

  #six > .audioListCount {
    margin-left: 90%;
  }
}
