.designContainer {
  padding: 5% 50px;
  background-color: #ffffff;
}
.row {
  margin-bottom: 2%;
}

.featureText {
  text-align: left;
  color: #9a9a9a;
  font-weight: 600;
  font-size: 15px;
  width: 5%;
}

.title {
  text-align: left;
  width: 45%;
  font-size: 5rem;
  line-height: 75px;
  font-family: "Machina", sans-serif;
  font-weight: 600;
  margin: 2% 0;
}

.designImage {
  width: 70%;
}

.designDescription {
  width: 70%;
  margin: 8% auto;
  font-size: 1rem;
}

.spanDescription {
  font-weight: bold;
}
