.designContainer {
  padding: 5% 50px;
  background-color: #ffffff;
}
.row {
  margin-bottom: 2%;
}

.featureText {
  text-align: left;
  color: #9a9a9a;
  font-weight: 600;
  font-size: 15px;
  width: 5%;
}

.title {
  text-align: left;
  width: 50%;
  font-size: 5rem;
  line-height: 75px;
  font-family: "Machina", sans-serif;
  font-weight: 600;
  margin: 2% 0;
}

.designImage {
  width: 60%;
}

.designDescription {
  width: 60%;
  margin: 8% auto;
  font-size: 1.2rem;
}

.spanDescription {
  font-weight: bold;
}

@media only screen and (max-width: 2000px) {
  .designImage {
    width: 70%;
  }
  .designDescription {
    width: 70%;
  }
}

@media only screen and (max-width: 1300px) {
  .designImage {
    width: 80%;
  }
  .designDescription {
    width: 80%;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1000px) {
  .featureText {
    text-align: left;
    width: 100%;
  }

  .designImage {
    width: 80%;
  }

  .title {
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
    line-height: 55px;
  }

  .designDescription {
    width: 80%;
    font-size: 0.9rem;
  }
}
