.footerContainer {
  padding: 4% 50px;
  background-color: #f4f4f4;
}

.title {
  text-align: left;
  font-size: 5rem;
  font-family: "Machina", sans-serif;
  font-weight: 600;
}

.footerDesc {
  text-align: left;
  color: black;
  font-weight: 600;
  font-size: 1.7rem;
  width: 70%;
}

.footerList {
  padding-top: 50px;
  padding-left: 0;
}

.footerItem {
  text-align: left;
  color: #747474;
}
