header {
  background-color: #f4f4f4;
}

.headerContainer {
  padding: 0 50px;
}

.subText {
  color: #030303;
  text-align: left;
  font-size: 3rem;
  margin-bottom: 12%;
  width: 100%;
}

.navLink {
  color: #030303;
  font-weight: 600;
  font-size: 14px;
}

.navBrand {
  color: #030303;
  font-weight: 600;
  font-size: 14px;
}

.mainMenu {
  margin: 0 auto;
}

.title {
  font-size: 16rem;
  letter-spacing: 0.3rem;
  font-family: "Machina", sans-serif;
  text-align: center;
}

.subTitle {
  color: #9a9a9a;
  text-align: left;
  margin-top: 12%;
}

.navBar {
  background-color: #f4f4f4 !important;
  padding: 15px 30px;
}

.featureText {
  text-align: left;
  color: #9a9a9a;
  font-weight: 300;
  font-size: 1.4rem;
  width: 70%;
}

.headphoneImage {
  width: 30%;
  margin-bottom: 8%;
}

@media only screen and (max-width: 1600px) {
  .headphoneImage {
    width: 50%;
  }
}

@media only screen and (max-width: 990px) {
  .title {
    font-size: 9rem;
  }

  .headphoneImage {
    margin: 8% 0;
    width: 70%;
  }

  .featureText {
    text-align: left;
    width: 100%;
    font-size: 1.3rem;
  }

  .subText {
    font-size: 1.2rem;
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .title {
    font-size: 5rem;
  }

  .headphoneImage {
    width: 80%;
  }

  .featureText {
    font-size: 0.9rem;
  }
}
